$bg_nav:#1F203A;
$bg_photo:#E3E3E3;
$bg_img:#F2F2F2;
$bg_txt:#454545;
$bg_btn:#ffa54d;

$size_nav:112px;
$size_logo:9vw;
$size_after:26vh;

$media:"only screen and (max-with:$size_media)";


%flex{display: flex;}
%jcc{justify-content: center;align-items: center;}

*{margin: 0; padding: 0; box-sizing: border-box;}

header{
    background-color: $bg_nav;
    height: $size_nav;
    nav{
        width: 60vw;
        margin: 0 auto;
        height: $size_nav;
        @extend %flex;
        justify-content: space-between;align-items: center;
        img{
            width: $size_logo;
           
        }
    }
}
.afterNad{
    background-color: $bg_img;
    height: $size_after+10;
    @extend %flex;
    justify-content: center;
    margin-bottom: 7rem;
    position: relative;
    .photo{
        width: 21rem;
        height: 21rem;
        border-radius: 320px;
        border:9px solid #fff;
        background-color: $bg_photo;
        @extend %flex;
        @extend %jcc;
        position: absolute;
        bottom: -6rem;
        img{
            width: 19rem;
            height: 19rem;
            border-radius: 300px;
            
    }
    }
    }
.creatif{
    width: 60vw;
    @extend %flex;
    @extend %jcc;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    gap: 25px;

    width: 34rem;
/* or 24px */
   h3{
    strong{

    }
   }
   p{
    font-weight: 300;
    font-size: 12px;
    line-height: 196%;
   }
   button{
    background-color: $bg_btn;
    width: 229px;
    height: 42px;
    border: none;
    border-radius: 10px;
   }
}
.sec2{
    height: 62rem;
    background-color: #fff;
    
    .vide{
        height: 37rem;
        @extend %flex;
        position: relative;
        @extend %flex;
        @extend %jcc;
        
        .textsec2{
            position: absolute;
            left: 30rem;
        }
        img{
            // position: absolute;
            width: 34rem;
            // height: 581.79px;
            // top: 3rem;
            margin: 48rem 6rem 0;
            
           }
           .phtbtn{
                position: relative;
        
                    button{
                        position: absolute;
                        left: 6rem;
                        padding: 1rem 4rem;
                        border-radius: 10px;
                        border: none;
                        background-color: $bg_btn;
                        color: #fff;
                        margin-top: 20px;
                }

                .cardphoto{
                    // position: absolute;
                    // top: 50rem;
                    margin: 30rem 6rem 0;
                    background-color: #f2f1ed;
                    width: 34rem;
                    height: 611px; 
                    top: 70rem; 
                    @extend %flex;
                    @extend %jcc;
                    img{
                        margin:0;
                    }
                    }
                    
                }
    }
    .partie2img{
        width: 100vw;
        height: 400px;
        background-color: #e5e5e5;
        
    }
}

.partiedigit{
    margin-top: 15rem;
   
    @extend %flex;
    flex-direction: column;
    @extend %jcc;
    height: 60rem;

    .digital{
        @extend %flex;
        gap: 60px;

        .lefttext{
            width: 504px;
            height: 282px;
            // margin: 9rem 16rem;
        }
        .nous{
            font-size: 4rem;
            text-align: right;
        }
        .dig{
            font-size: 6rem;
        }
    }

    .partiearrow{
        margin: 30px;
        @extend %flex;
        flex-direction: column;
        @extend %jcc;
        gap: 6rem;
       
        p{
            // height: 175px;
            width: 560px;
            text-align: center;


        }
    }
}

.projets{
    @extend %flex;
    flex-direction: column;
    gap: 5rem;
    .projetscode{
        @extend %flex;
        @extend %jcc;
        height: 21rem;
        gap: 3rem;
        div{
            
            img{
                width: 30vw;
                height: 40vh;
                &:hover{
                    background-color: #1F203A
                }
        }

        }
    }
    .design{
        @extend %flex;
        @extend %jcc;
         height: 21rem;
         gap: 3rem;
        img{
            width: 30vw;
            height: 40vh;
            &:hover{
                background-color: #1F203A
            }

    }
}
}