@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*{margin: 0;padding: 0;box-sizing: border-box;color: #454545; font-family: 'Libre Baskerville', serif;}

.flex{display: flex;}
.jcc{justify-content: center;}
.jcsp{justify-content: space-between;}
.jcsev{justify-content: space-evenly;}
.flex-dir{flex-direction: column;}
.flexshrink{flex: 1 1 350px;}
.flexwrap{flex-wrap: wrap;}
.jcR{justify-content: right;}
.alItem{align-items: center;}
.bg_nav{background-color: #1F203A;}
.bg_colimg{background-color: #F2F2F2;}
.bg_navlarge{background-color: #E3E3E3;}
.bg_navphoto{background-color: #E3E3E3;}
.bg_btn{color: #FFA54D;}
.leftdiv{display: none;}
input{height: 32px; width: 40vw;margin: 5px;}
.bg_colorwh{color: #fff;}
.pad{padding-top: 20px;}
.pdpetit{padding-right: 30px;}
.margin{margin: 13vh  5vw;}
.margini{margin: 5vh 5vw}
.marginAuto{margin: 0 auto;}
.margeBo{margin-bottom: 200px;}
.marginB{margin: 35px 0;}
.position_petit{position: absolute;}
.position_relat{position:relative ;}
.top{ top: 100px;}
.topmin{top: 0;}
.gap{gap:25px}
.gapmin{gap:15px}
.fontmin{font-weight: 400;}
.fontmax{font-weight: 700;}
.fontsizeMax{font-size: 2rem;}
.fontsizeMin{font-size: 1.2rem;}
.fontsizetext{font-size: 0.8rem;}
.text-al{text-align: center;}
.text-alR{text-align: right;}
.text-alJ{text-align: justify;}
nav{width: 100vw;height:112px ;}
.afterNav{height:25vh;}
.photo {height: 9rem;width: 9rem; border-radius: 22rem;border: 9px solid #fff ;position: absolute;}
.photo img{height: 8rem;width: 8rem; border-radius: 400px;}
button{background-color: #FFA54D;padding: 12px 30px;border-radius: 10px; color: white; border: none;}
img{width: 44vw; height: 36vh;}
.insp{width: 55vw;}
/* .flowY{overflow-x:scroll; width: 100vw;white-space: wrap;} */
/* .flowY img{max-width: 100vh;height: auto;} */
.imgprojet{width: 20rem;}
/* .design{width: 62rem;} */

@media screen and (min-width:718px) {
    .top{ top: 140px;}
.photo {height: 13rem;width: 13rem; }


   
}